/*
 * Typography
 */
$base-font-size:    16px!default;
$base-line-height:  24px!default;

/*
 * Font-sizes (in pixels).
 */
$giga-size:         64px!default;
$mega-size:         48px!default;
$kilo-size:         36px!default;

$h1-size:           32px!default; // .alpha
$h2-size:           28px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           18px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;

/*
 * Border Radius
 */
$base-round: 3px;
$large-round: 6px;

/*
 * Spacing
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: halve($base-spacing-unit)!default;
$line-height-ratio: $base-line-height / $base-font-size;

$base-grid-gutter: 20px!default;
$half-grid-gutter: halve($base-grid-gutter)!default;

/*
 * Break Points
 * Use others as they become necessary.
 */
$lap-start:         600px!default;
$desk-start:        900px!default;
$desk-wide-start:   1200px!default;

$palm-end:   $lap-start - 1px;
$lap-end:    $desk-start - 1px;
$desk-end:   $desk-wide-start - 1px;

$page-gutter: 2000px;

$breakpoints: (
    'palm':            'screen and (max-width: #{$palm-end})',
    'lap':             'screen and (min-width: #{$lap-start}) and (max-width: #{$lap-end})',
    'lap-and-up':      'screen and (min-width: #{$lap-start})',
    'portable':        'screen and (max-width: #{$lap-end})',
    'desk':            'screen and (min-width: #{$desk-start})',
    'desk-wide':       'screen and (min-width: #{$desk-wide-start})',
    'under-desk-wide': 'screen and (max-width: #{$desk-end})'
) !default;
