---
css         : 'display'
title       : 'Display'
description : 'Display helpers for layout concerns.'
tags:
  - layout
---
<div class="main container">
  <h2 class="ui dividing header">Padding &amp; Margin</h2>
  <p class="ui ignored message">If your app has flexbox support, consult flexbox techniques and attempt those before using these layout helpers.</p>

  <div class="follow example">
    <h4 class="ui header">Clearfix</h4>
    <p>Clearfix any floats within the container element.</p>
    <p class="ui ignored message">Note: Better handled with Flexbox.</p>
    <div clearfix style="padding:1em;border:1px solid grey;" >
      <div float-left style="height:100px;width:100px;background:blue;">
      </div>
      <div float-right style="height:100px;width:100px;background:red;">
      </div>
    </div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Vertical Centering - Display Table</h4>
    <p>Using a display table technique to vertical center content of unknown size.</p>
    <p class="ui ignored message">Note: Better handled with Flexbox.</p>
    <div class="mv" display-table style="height: 200px;width:600px;border:1px solid grey;">
      <div display-table_cell>
        Vertically centered text
      </div>
    </div>
    <div class="mv" display-table style="height: 200px;width:600px;border:1px solid grey;">
      <div display-table_cell centered>
        Horizontally and vertically centered text both
      </div>
    </div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Vertical Centering - Ghost Element</h4>
    <p>Using a psuedo element to vertically center content of various heights.</p>
    <p class="ui ignored message">Note: Better handled with Flexbox.</p>
    <div class="mv" display-vertical-ghost style="height: 200px;width:600px;border:1px solid grey;">
      <div centered>
        Vertically centered text
      </div>
    </div>
    <div class="mv" display-vertical-ghost center style="height: 200px;width:600px;border:1px solid grey;">
      <div centered>
        Horizontally and vertically centered text both
      </div>
    </div>
  </div>

  <div class="follow example" overflow visible>
    <h4 class="ui header">Overflow</h4>
    <p>Clearfix any floats within the container element.</p>
    <div overflow scrollable style="height:400px;width:400px;border:1px solid grey;">
      <div style="height:300px;width:500px;background:blue;"></div>
      <div style="height:300px;width:500px;background:red;"></div>
    </div>
    <p>Scroll y axis only</p>
    <div overflow scrollable-y style="height:400px;width:400px;border:1px solid grey;">
      <div style="height:300px;width:500px;background:blue;"></div>
      <div style="height:300px;width:500px;background:red;"></div>
    </div>
    <p>Scroll x axis only</p>
    <div overflow scrollable-x style="height:400px;width:400px;border:1px solid grey;">
      <div style="height:300px;width:500px;background:blue;"></div>
      <div style="height:300px;width:500px;background:red;"></div>
    </div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Full Bleed</h4>
    <p class="ui ignored message">Utilize an attribute of 'fullbleed' on the body element to remove any bleed.</p>
  </div>

  <div class="follow example">
    <h4 class="ui header">Visibility</h4>
    <p>Techniques to visually hide elements.</p>
    <div style="height:200px;width:400px;border:1px solid grey;">
      <p class="accessibility">Hidden from view</p>
      <p class="visuallyhidden">Hidden from view</p>
    </div>
    <p>Visually hide elements at certain media query points</p>
    <div style="height:200px;width:400px;border:1px solid grey;">
      <p class="accessibility--desk">Show only below desktop size</p>
      <p class="visuallyhidden--under-desk-wide">Shows above desk wide size.</p>
    </div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Alignment</h4>
    <p>Text alignment helpers for left/right alignment</p>
    <p>Often this is used with display inline block elements to center the elements</p>
    <p>Center elements horizontally</p>
    <div class="mv">
      <div layout text-center class="p" style="border:1px solid grey;">
        <div layout inline-block class="ph">Element 1</div>
        <div layout inline-block class="ph">Element 2</div>
        <div layout inline-block class="ph">Element 3</div>
      </div>
    </div>
    <div class="mv">
      <p>Left align elements horizontally</p>
      <div layout text-left class="p" style="border:1px solid grey;">
        <div layout inline-block class="ph">Element 1</div>
        <div layout inline-block class="ph">Element 2</div>
        <div layout inline-block class="ph">Element 3</div>
      </div>
    </div>
    <div class="mv">
      <p>Right align elements horizontally</p>
      <div layout text-right class="p" style="border:1px solid grey;">
        <div layout inline-block class="ph">Element 1</div>
        <div layout inline-block class="ph">Element 2</div>
        <div layout inline-block class="ph">Element 3</div>
      </div>
    </div>
    <div class="mv">
      <p>Use top, middle, and bottom align elements vertically with cthe tallest element in the group</p>
      <div layout text-center class="p" style="border:1px solid grey;">
        <div layout inline-block class="ph" style="line-height:3em;">Element 1</div>
        <div layout inline-block vertical-top class="ph" style="line-height:2em;">Element 2</div>
        <div layout inline-block vertical-middle class="ph" style="line-height:2em;">Element 3</div>
        <div layout inline-block vertical-bottom class="ph" style="line-height:2em;">Element 3</div>
      </div>
    </div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Forced Sizes</h4>
    <p>Forcing an element to take up the precise size of its container.</p>
    <div class="mv" style="height:300px;width:300px;border:1px solid grey;">
      <div layout inline-block full-height style="width:100px;background:blue;"></div>
    </div>
    <div class="mv" style="height:300px;width:300px;border:1px solid grey;">
      <div layout inline-block full-width style="height:100px;background:blue;"></div>
    </div>
  </div>
</div>
