---
css         : 'display'
title       : 'Display - Flexbox'
description : 'Flexbox helpers for layout concerns.'
tags:
  - layout
---
<div class="main container">
  <h2 class="ui dividing header">Layout Assistance with Flexbox</h2>
  <div class="ui ignored message">
    <span>New to Flexbox? See these sites to get started:</span>
    <ul class="ui list">
      <li class="item">
        <a href="http://css-tricks.com/snippets/css/a-guide-to-flexbox/">CSS Tricks Complete Guide to Flexbox</a>
      </li>
      <li class="item">
        <a href="http://the-echoplex.net/flexyboxes/">Flexy Boxes Flexbox playground</a>
      </li>
    </ul>
  </div>

  <h3 class="ui dividing header">Vertical First Layouts</h3>
  <div class="follow example">
    <h4 class="ui header">Make the vertical axis the main axis</h4>
    <div class="mv" style="height: 300px; width: 300px; border: 1px solid #ccc;" vertical layout>
      <div class="ui button">Button1</div>
      <div class="ui button">Button2</div>
      <div class="ui button">Button3</div>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Center elements on cross axis (horizontally)</h4>
    <div class="mv" style="height: 300px; width: 300px; border: 1px solid #ccc;" vertical center layout>
      <div class="ui button">Button1</div>
      <div class="ui button">Button2</div>
      <div class="ui button">Button3</div>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Center elements on main axis (vertically)</h4>
    <div class="mv" style="height: 300px; width: 300px; border: 1px solid #ccc;" vertical center-justified layout>
      <div class="ui button">Button1</div>
      <div class="ui button">Button2</div>
      <div class="ui button">Button3</div>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Center elements on both axis</h4>
    <div class="mv" style="height: 300px; width: 300px; border: 1px solid #ccc;" vertical center-justified center layout>
      <div class="ui button">Button1</div>
      <div class="ui button">Button2</div>
      <div class="ui button">Button3</div>
    </div>
  </div>

  <h3 class="ui dividing header">Horizontal First Layouts</h3>
  <div class="follow example">
    <h4 class="ui header">Make the horizontal axis the main axis</h4>
    <div class="mv" style="height: 300px; width: 500px; border: 1px solid #ccc;" horizontal layout>
      <div class="ui button" flex>Button1</div>
      <div class="ui button" flex>Button2</div>
      <div class="ui button" flex>Button3</div>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Center elements on cross axis (vertically)</h4>
    <div class="mv" style="height: 300px; width: 500px; border: 1px solid #ccc;" horizontal center layout>
      <div class="ui button">Button1</div>
      <div class="ui button">Button2</div>
      <div class="ui button">Button3</div>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Center elements on main axis (horizontally)</h4>
    <div class="mv" style="height: 300px; width: 500px; border: 1px solid #ccc;" horizontal center-justified layout>
      <div class="ui button">Button1</div>
      <div class="ui button">Button2</div>
      <div class="ui button">Button3</div>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Center elements on both axis</h4>
    <div class="mv" style="height: 300px; width: 500px; border: 1px solid #ccc;" horizontal center-justified center layout>
      <div class="ui button">Button1</div>
      <div class="ui button">Button2</div>
      <div class="ui button">Button3</div>
    </div>
  </div>

  <h3 class="ui dividing header">Combined Layouts</h3>
  <div class="follow example">
    <h4 class="ui header">Buttons that fill up the container horizontally and center the content</h4>
    <div class="mv" style="height: 300px; width: 500px; border: 1px solid #ccc;" horizontal layout>
      <div class="ui button" flex layout vertical center-justified>Button1</div>
      <div class="ui button" flex layout vertical center-justified>Button2</div>
      <div class="ui button" flex layout vertical center-justified>Button3</div>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Buttons that fill up the container vertically and center the content</h4>
    <div class="mv" style="height: 300px; width: 500px; border: 1px solid #ccc;" vertical layout>
      <div class="ui button" flex layout vertical center-justified>Button1</div>
      <div class="ui button" flex layout vertical center-justified>Button2</div>
      <div class="ui button" flex layout vertical center-justified>Button3</div>
    </div>
  </div>

  <h3 class="ui dividing header">Wrapping Layouts</h3>
  <div class="follow example">
    <h4 class="ui header">Simple wrap layout</h4>
    <div class="mv" style="height: 300px; width: 60%; border: 1px solid #ccc;" wrap layout>
      <div class="ui button m-">Button1</div>
      <div class="ui button m-">Button2</div>
      <div class="ui button m-">Button3</div>
      <div class="ui button m-">Button4</div>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Flexible wrap layout</h4>
    <p>This the items in this layout can be flexible, but will wrap when the minimum size requirements are not met.</p>
    <div class="mv" style="height: 300px; width: 60%; border: 1px solid #ccc;" stretch-items horizontal wrap layout>
      <div class="ui button m-" flex auto style="min-width:200px;max-width:400px;">Button1</div>
      <div class="ui button m-" flex auto style="min-width:200px;max-width:400px;">Button2</div>
      <div class="ui button m-" flex auto style="min-width:200px;max-width:400px;">Button3</div>
      <div class="ui button m-" style="flex:-1 1 auto; min-width:200px;max-width:400px;">Button4</div>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Justify Around</h4>
    <p>The items, when not flexible, will equally space out with the width available.</p>
    <div class="mv" style="height: 300px; width: 100%; border: 1px solid #ccc;" around-justified horizontal layout>
      <div class="ui button m-">Button1</div>
      <div class="ui button m-">Button2</div>
      <div class="ui button m-">Button3</div>
      <div class="ui button m-">Button4</div>
    </div>
  </div>
</div>
