---
css         : 'spacing'
title       : 'Spacing'
description : 'Spacing helpers for layout concerns.'
tags:
  - layout
---
<div class="main container">
  <h2 class="ui dividing header">Padding &amp; Margin Trumps</h2>
  <p class="ui ignored message">Spacing trumps are all marked !important, so they will override any component based styles.</p>

  <div class="follow example">
    <h4 class="ui header">Padding Adjustments</h4>
    <p>Soft creates different levels of padding.</p>
    <p class="ui ignored message">'vertical--center' class used here to normalize text display and inline-block display. Padding is often used on items already with display: inline-block;</p>
    <div class="mv">
      <span layout inline-block class="p" style="border: 1px solid #ccc;">Soft</span>
    </div>
    <div class="mv">
      <span layout inline-block class="p-" style="border: 1px solid #ccc;">Soft Half</span>
    </div>
    <div class="mv">
      <span layout inline-block class="p+" style="border: 1px solid #ccc;">Soft Double</span>
    </div>
    <div class="mv">
      <span layout inline-block class="p--" style="border: 1px solid #ccc;">Soft Tiny</span>
    </div>
    <div class="mv">
      <span layout inline-block class="p++" style="border: 1px solid #ccc;">Soft Huge</span>
    </div>
    <div class="mv">
      <span layout inline-block class="pl" style="border: 1px solid #ccc;">Soft (Left Only)</span>
    </div>
    <div class="mv">
      <span layout inline-block class="pr" style="border: 1px solid #ccc;">Soft (Right Only)</span>
    </div>
    <div class="mv">
      <span layout inline-block class="pt" style="border: 1px solid #ccc;">Soft (Top Only)</span>
    </div>
    <div class="mv">
      <span layout inline-block class="pb" style="border: 1px solid #ccc;">Soft (Bottom Only)</span>
    </div>
    <div class="mv">
      <span layout inline-block class="ph" style="border: 1px solid #ccc;">Soft Sides</span>
    </div>
    <div class="mv">
      <span layout inline-block class="pv" style="border: 1px solid #ccc;">Soft Ends</span>
    </div>
    <p>Soft amounts can be mixed with subsets.</p>
    <div class="mv">
      <span layout inline-block class="pv++" style="border: 1px solid #ccc;">Soft Huge Ends</span>
    </div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Removing Padding</h4>
    <p>Eliminates padding on items that have default/component padding.</p>
    <div class="mv">
      <div class="ui button p0">
        Hard Button
      </div>
    </div>
    <div class="mv">
      <div class="ui button ph0">
        Hard Sides
      </div>
    </div>
    <div class="mv">
      <div class="ui button pv0">
        Hard Ends
      </div>
    </div>
    <div class="mv">
      <div class="ui button pl0">
        Hard Left
      </div>
    </div>
    <div class="mv">
      <div class="ui button pr0">
        Hard Right
      </div>
    </div>
    <div class="mv">
      <div class="ui button pt0">
        Hard Top
      </div>
    </div>
    <div class="mv">
      <div class="ui button pb0">
        Hard Bottom
      </div>
    </div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Margin Adjustments</h4>
    <p>Adjusts on default elements/components.</p>
    <div class="ui segment p0">
      <div class="ui button">
        Default Button
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button m">
        Margin
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button m+">
        Double Margin
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button m-">
        Half Margin
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button m++">
        Huge Margin
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button m--">
        Tiny Margin
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button ml">
        Left Margin
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button mr">
        Right Margin
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button mt">
        Top Margin
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button mb">
        Bottom Margin
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button mv">
        Verticals Margin
      </div>
    </div>
    <div class="ui segment p0">
      <div class="ui button mh">
        Horizontal Margin
      </div>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Eliminating Margin</h4>
    <p>Eliminates margin on items that have default/component margin.</p>
    <div class="ui segment p0">
      <h3 class="m0">
        No Margin
      </h3>
    </div>
    <div class="ui segment p0">
      <h3 class="mt0">
        No Top Margin
      </h3>
    </div>
    <div class="ui segment p0">
      <h3 class="mb0">
        No Bottom Margin
      </h3>
    </div>
    <div class="ui segment p0">
      <h3 class="ml0">
        No Left Margin
      </h3>
    </div>
    <div class="ui segment p0">
      <h3 class="mr0">
        No Right Margin
      </h3>
    </div>
    <div class="ui segment p0">
      <h3 class="mv0">
        No Vertical Margin
      </h3>
    </div>
    <div class="ui segment p0">
      <h3 class="mv0">
        No Horizontal Margin
      </h3>
    </div>
  </div>
  <div class="follow example">
    <h4 class="ui header">Negative Margin</h4>
    <p>Pushes negative margin on to default elements/components.</p>
    <div class="ui segment p0 mv+">
      <div class="ui button -m">
        Negative Margin All Sides
      </div>
    </div>
    <div class="ui segment p0 mv+">
      <div class="ui button -ml">
        Negative Margin Left
      </div>
    </div>
    <div class="ui segment p0 mv+">
      <div class="ui button -mt">
        Negative Margin Top
      </div>
    </div>
    <div class="ui segment p0 mv+">
      <div class="ui button -mb">
        Negative Margin Bottom
      </div>
    </div>
    <div class="ui segment p0 mv+">
      <div class="ui button -mv">
        Negative Margin Vertical
      </div>
    </div>
    <div class="ui segment p0 mv+">
      <div class="ui button -mh">
        Negative Margin Horizontal
      </div>
    </div>
    <div class="ui segment p0 mv+">
      <div class="ui button -m-">
        Negative Margin All Sides Half
      </div>
    </div>
    <div class="ui segment p0 mv+">
      <div class="ui button -m--">
        Negative Margin All Sides Tiny
      </div>
    </div>
    <div class="ui segment p0 mv++">
      <div class="ui button -m+">
        Negative Margin All Sides Double
      </div>
    </div>
    <div class="ui segment p0 mv++">
      <div class="ui button -m++">
        Negative Margin All Sides Huge
      </div>
    </div>
  </div>
</div>
