---
css         : 'widths'
title       : 'Widths'
description : 'Widths helpers for layout concerns.'
tags:
  - layout
---
<div class="main container">
  <h2 class="ui dividing header">Widths Trumps</h2>
  <p class="ui ignored message">Widths trumps are all marked !important, so they will override any component based styles.</p>

  <div class="follow example">
    <h4 class="ui header">Explicit Widths</h4>
    <p>Any fractions from n/2, n/3, n/4, n/5, n/6, n/8, n/10, and n/12 can be used to specify widths.</p>
    <p>Below are a few examples</p>
    <div class="mv">
      <div class="ui button 1/3">One third size button</div>
    </div>
    <div class="mv">
      <div class="ui button 1/2">One half size button</div>
    </div>
    <div class="mv">
      <div class="ui button 5/8">Five eigths size button</div>
    </div>
    <div class="mv">
      <div class="ui button 7/10">Seven Tenths</div>
    </div>
    <div class="mv">
      <div class="ui button 11/12">Eleven Twelths</div>
    </div>
  </div>

  <div class="follow example">
    <h4 class="ui header">Widths And Media Queries</h4>
    <p>We can use any supported media queries to change widths at specific media query breakpoints.</p>
    <p>Below are a few examples</p>
    <div class="mv">
      <div class="ui button palm--1/2 1/3">One half at palm size</div>
    </div>
    <div class="mv">
      <div class="ui button lap--1/1 1/2">One half size button</div>
    </div>
    <div class="mv">
      <div class="ui button desk-wide--1/3 5/8">One third at desk wide</div>
    </div>
  </div>
</div>
