/*******************************
			Accordion
*******************************/
@mixin accordion-prototype {
	.ui.accordion,
	.ui.accordion .accordion {
		width: 600px;
		font-size: 1rem;
		background-color: palette(neutral, light);
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	}

	.ui.accordion .title,
	.ui.accordion .accordion .title {
		padding: 0.75em 1em;
		color: palette(neutral, dark);
		border-top: 1px solid palette(neutral, mid);
		transition: background-color 0.2s ease-out;
	}

	/* Content */
	.ui.accordion .content,
	.ui.accordion .accordion .content {
		padding: 1.3em 1em;
	}

	/* Arrow */
	.ui.accordion .title .dropdown.icon,
	.ui.accordion .accordion .title .dropdown.icon {
		margin: 0em 0.5em 0em 0em;
		transition:
			transform 0.2s ease,
			opacity 0.2s ease
		;
		transform: rotate(0deg);
	}

	.ui.accordion .title .dropdown.icon:before,
	.ui.accordion .accordion .title .dropdown.icon:before {
		content: '\f0da'/*rtl:'\f0d9'*/;
	}

	/*--------------
	Loose Coupling
	---------------*/

	.ui.basic.accordion.menu {
		background-color: palette(neutral, light);
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	}
	.ui.basic.accordion.menu .title,
	.ui.basic.accordion.menu .content {
		padding: 0em;
	}

	/*******************************
				Types
	*******************************/

	/*--------------
		Basic
	---------------*/

	.ui.basic.accordion .content,
	.ui.basic.accordion .accordion .content {
		padding: 0.5em 0em;
	}

	/*******************************
				States
	*******************************/


	/*--------------
		Hover
	---------------*/

	.ui.accordion .title:hover,
	.ui.accordion .active.title,
	.ui.accordion .accordion .title:hover,
	.ui.accordion .accordion .active.title {
		color: palette(neutral, dark, 110);
	}

	/*--------------
		Active
	---------------*/

	.ui.accordion .active.title,
	.ui.accordion .accordion .active.title {
		background-color: palette(neutral, mid);
		color: palette(neutral, dark);
	}
	.ui.accordion .active.title .dropdown.icon,
	.ui.accordion .accordion .active.title .dropdown.icon {
		transform: rotate(90deg);
	}
}
