$palettes: (
  neutral: (
		white:     #FFF,
		black:     #000
	),
  mytheme: (
    blue:      #60C5C1,
    red:       #EA6034,
    yellow:    #FDCA3B
  ),
	social : (
    facebook:  #3B579D,
    twitter:   #4092CC,
    googleplus:#D34836,
    linkedin:  #1F88BE,
    youtube:   #CC181E,
    instagram: #49769C,
    pinterest: #cb2027
  ),
	info: (
    success:  #5BBD72,
    error:    #eb0028
  ),
) !global;
