@mixin message-prototype {
	/*******************************
				Message
	*******************************/

	.ui.message {
		min-height: 18px;
		margin: 1em 0em;
		background-color: palette(neutral, light);
		padding: 1em;
		line-height: 1.33;
		color: palette(neutral, dark);
		transition:
			opacity 0.1s ease,
			color 0.1s ease,
			background 0.1s ease,
			box-shadow 0.1s ease
		;
	}

	/*--------------
		Content
	---------------*/

	/* block with headers */
	.ui.message .header {
		font-size: 1.33em;
		font-weight: bold;
	}

	/* block with paragraphs */
	.ui.message p {
		opacity: 0.85;
		margin: 1em 0em;
	}

	.ui.message .header + p {
		margin-top: 0.3em;
	}

	/* block with child list */
	.ui.message ul.list {
		opacity: 0.85;
		list-style-position: inside;
		margin: 0.2em 0em;
		padding: 0em;
	}
	.ui.message ul.list li {
		margin: 0em 0em 0.3em 1em;
		list-style-type: none;
		padding: 0em;
	}
	.ui.message ul.list li:before {
		content: '\2022';
		top: -0.05em;
		left: -0.8em;
		opacity: 0.5;
	}

	/* dismissable block */
	.ui.message > .close.icon {
		top: 1em;
		right: 0.5em;
		opacity: 0.7;
		transition:
			opacity 0.1s linear
		;
	}

	/*******************************
				Variations
	*******************************/

	/*--------------
		Attached
	---------------*/

	.ui.attached.message {
		box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.1) inset;
	}
	.ui.bottom.attached.message:not(:last-child) {
		margin-bottom: 1em;
	}

	/*--------------
		Icon
	---------------*/

	.ui.icon.message > .icon:not(.close) {
		font-size: 3.8em;
		opacity: 0.5;
	}
	.ui.icon.message > .icon + .content {
		padding-left: 1em;
	}

	/*--------------
		Inverted
	---------------*/

	.ui.inverted.message {
		background-color: palette(neutral, dark);
		color: palette(neutral, light);
	}


	/*--------------
		Floating
	---------------*/

	.ui.floating.message {
		box-shadow:
			0px 1px 3px 0px rgba(0, 0, 0, 0.1),
			0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset
		;
	}

	/*--------------
		Types
	---------------*/

	/* Success Text Block */
	.ui.success.message,
	.ui.positive.message {
		background-color: palette(info, success, 5);
		color: palette(info, success);
	}
	/* Error Text Block */
	.ui.error.message,
	.ui.negative.message {
		background-color: palette(info, error, 5);
		color: palette(info, error);
	}


	/*--------------
		Sizes
	---------------*/

	.ui.small.message {
		font-size: 0.875em;
	}
	.ui.message {
		font-size: 1em;
	}
	.ui.large.message {
		font-size: 1.125em;
	}
	.ui.huge.message {
		font-size: 1.5em;
	}
	.ui.massive.message {
		font-size: 2em;
	}
}
