@mixin display-src {
  [display-table] {
    display: table!important;
  }
  [display-table_cell] {
    display: table-cell!important;
    vertical-align: middle;

    &[centered] {
      text-align: center;
    }
  }

  [display-vertical-ghost] {

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
    &[center] {
      text-align: center;
    }
    [centered] {
      display: inline-block;
      vertical-align: middle;
    }
  }

  [overflow][scrollable] {
    overflow: auto;
  }
  [overflow][scrollable-y] {
    overflow-y: auto;
  }
  [overflow][scrollable-x] {
    overflow-y: auto;
  }
  [overflow][hidden] {
    overflow: hidden;
  }
  [overflow][hidden-x] {
    overflow: hidden;
  }
  [overflow][hidden-y] {
    overflow: hidden;
  }
  [overflow][visible] {
    overflow: visible;
  }
}
