@mixin spacing-src($display-namespace:"") {
  /*------------------------------------*\
      #SPACING
  \*------------------------------------*/

  /**
   * Margin and padding helper classes. Use these to tweak layout on a micro
   * level.
   *
   * Spacing uses a mask. Although less semantic, this keeps the class
   * sizes from being overly verbose.
   * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
   */

  @if use-layout(display, spacing) {

      /**
       * Margin helper classes.
       *
       * Add margins.
       */

      .#{$display-namespace}m       { margin:           $base-spacing-unit !important; }
      .#{$display-namespace}mt      { margin-top:       $base-spacing-unit !important; }
      .#{$display-namespace}mr      { margin-right:     $base-spacing-unit !important; }
      .#{$display-namespace}mb      { margin-bottom:    $base-spacing-unit !important; }
      .#{$display-namespace}ml      { margin-left:      $base-spacing-unit !important; }
      .#{$display-namespace}mh      { margin-right:     $base-spacing-unit !important; margin-left:      $base-spacing-unit !important; }
      .#{$display-namespace}mv      { margin-top:       $base-spacing-unit !important; margin-bottom:    $base-spacing-unit !important; }

      /**
       * Add tiny margins.
       */

      .#{$display-namespace}m--     { margin:           quarter($base-spacing-unit) !important; }
      .#{$display-namespace}mt--    { margin-top:       quarter($base-spacing-unit) !important; }
      .#{$display-namespace}mr--    { margin-right:     quarter($base-spacing-unit) !important; }
      .#{$display-namespace}mb--    { margin-bottom:    quarter($base-spacing-unit) !important; }
      .#{$display-namespace}ml--    { margin-left:      quarter($base-spacing-unit) !important; }
      .#{$display-namespace}mh--    { margin-right:     quarter($base-spacing-unit) !important; margin-left:     quarter($base-spacing-unit) !important; }
      .#{$display-namespace}mv--    { margin-top:       quarter($base-spacing-unit) !important; margin-bottom:   quarter($base-spacing-unit) !important; }

      /**
       * Add small margins.
       */

      .#{$display-namespace}m-      { margin:           halve($base-spacing-unit) !important; }
      .#{$display-namespace}mt-     { margin-top:       halve($base-spacing-unit) !important; }
      .#{$display-namespace}mr-     { margin-right:     halve($base-spacing-unit) !important; }
      .#{$display-namespace}mb-     { margin-bottom:    halve($base-spacing-unit) !important; }
      .#{$display-namespace}ml-     { margin-left:      halve($base-spacing-unit) !important; }
      .#{$display-namespace}mh-     { margin-right:     halve($base-spacing-unit) !important; margin-left:   halve($base-spacing-unit) !important; }
      .#{$display-namespace}mv-     { margin-top:       halve($base-spacing-unit) !important; margin-bottom: halve($base-spacing-unit) !important; }

      /**
       * Add large margins.
       */

      .#{$display-namespace}m\+     { margin:           double($base-spacing-unit) !important; }
      .#{$display-namespace}mt\+    { margin-top:       double($base-spacing-unit) !important; }
      .#{$display-namespace}mr\+    { margin-right:     double($base-spacing-unit) !important; }
      .#{$display-namespace}mb\+    { margin-bottom:    double($base-spacing-unit) !important; }
      .#{$display-namespace}ml\+    { margin-left:      double($base-spacing-unit) !important; }
      .#{$display-namespace}mh\+    { margin-right:     double($base-spacing-unit) !important; margin-left:      double($base-spacing-unit) !important; }
      .#{$display-namespace}mv\+    { margin-top:       double($base-spacing-unit) !important; margin-bottom:    double($base-spacing-unit) !important; }

      /**
       * Add huge margins.
       */

      .#{$display-namespace}m\+\+   { margin:           quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}mt\+\+  { margin-top:       quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}mr\+\+  { margin-right:     quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}mb\+\+  { margin-bottom:    quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}ml\+\+  { margin-left:      quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}mh\+\+  { margin-right:     quadruple($base-spacing-unit) !important; margin-left:   quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}mv\+\+  { margin-top:       quadruple($base-spacing-unit) !important; margin-bottom: quadruple($base-spacing-unit) !important; }

      /**
       * Remove margins.
       */

      .#{$display-namespace}m0      { margin:           0 !important; }
      .#{$display-namespace}mt0     { margin-top:       0 !important; }
      .#{$display-namespace}mr0     { margin-right:     0 !important; }
      .#{$display-namespace}mb0     { margin-bottom:    0 !important; }
      .#{$display-namespace}ml0     { margin-left:      0 !important; }
      .#{$display-namespace}mh0     { margin-right:     0 !important; margin-left:      0 !important; }
      .#{$display-namespace}mv0     { margin-top:       0 !important; margin-bottom:    0 !important; }

      /**
       * Negative margins.
       */

      .#{$display-namespace}-m      { margin:           -$base-spacing-unit !important; }
      .#{$display-namespace}-mt     { margin-top:       -$base-spacing-unit !important; }
      .#{$display-namespace}-mr     { margin-right:     -$base-spacing-unit !important; }
      .#{$display-namespace}-mb     { margin-bottom:    -$base-spacing-unit !important; }
      .#{$display-namespace}-ml     { margin-left:      -$base-spacing-unit !important; }
      .#{$display-namespace}-mh     { margin-right:     -$base-spacing-unit !important; margin-left:      -$base-spacing-unit !important; }
      .#{$display-namespace}-mv     { margin-top:       -$base-spacing-unit !important; margin-bottom:    -$base-spacing-unit !important; }

      /**
       * Tiny negative margins.
       */

      .#{$display-namespace}-m--    { margin:           quarter(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mt--   { margin-top:       quarter(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mr--   { margin-right:     quarter(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mb--   { margin-bottom:    quarter(-$base-spacing-unit) !important; }
      .#{$display-namespace}-ml--   { margin-left:      quarter(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mh--   { margin-right:     quarter(-$base-spacing-unit) !important; margin-left:     quarter(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mv--   { margin-top:       quarter(-$base-spacing-unit) !important; margin-bottom:   quarter(-$base-spacing-unit) !important; }

      /**
       * Small negative margins.
       */

      .#{$display-namespace}-m-     { margin:           halve(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mt-    { margin-top:       halve(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mr-    { margin-right:     halve(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mb-    { margin-bottom:    halve(-$base-spacing-unit) !important; }
      .#{$display-namespace}-ml-    { margin-left:      halve(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mh-    { margin-right:     halve(-$base-spacing-unit) !important; margin-left:   halve(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mv-    { margin-top:       halve(-$base-spacing-unit) !important; margin-bottom: halve(-$base-spacing-unit) !important; }

      /**
       * Large negative margins.
       */

      .#{$display-namespace}-m\+    { margin:           double(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mt\+   { margin-top:       double(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mr\+   { margin-right:     double(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mb\+   { margin-bottom:    double(-$base-spacing-unit) !important; }
      .#{$display-namespace}-ml\+   { margin-left:      double(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mh\+   { margin-right:     double(-$base-spacing-unit) !important; margin-left:      double(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mv\+   { margin-top:       double(-$base-spacing-unit) !important; margin-bottom:    double(-$base-spacing-unit) !important; }

      /**
       * Huge negative margins.
       */

      .#{$display-namespace}-m\+\+  { margin:           quadruple(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mt\+\+ { margin-top:       quadruple(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mr\+\+ { margin-right:     quadruple(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mb\+\+ { margin-bottom:    quadruple(-$base-spacing-unit) !important; }
      .#{$display-namespace}-ml\+\+ { margin-left:      quadruple(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mh\+\+ { margin-right:     quadruple(-$base-spacing-unit) !important; margin-left:   quadruple(-$base-spacing-unit) !important; }
      .#{$display-namespace}-mv\+\+ { margin-top:       quadruple(-$base-spacing-unit) !important; margin-bottom: quadruple(-$base-spacing-unit) !important; }


      /**
       * Padding helper classes.
       *
       * Add paddings.
       */

      .#{$display-namespace}p       { padding:          $base-spacing-unit !important; }
      .#{$display-namespace}pt      { padding-top:      $base-spacing-unit !important; }
      .#{$display-namespace}pr      { padding-right:    $base-spacing-unit !important; }
      .#{$display-namespace}pb      { padding-bottom:   $base-spacing-unit !important; }
      .#{$display-namespace}pl      { padding-left:     $base-spacing-unit !important; }
      .#{$display-namespace}ph      { padding-right:    $base-spacing-unit !important; padding-left:    $base-spacing-unit !important; }
      .#{$display-namespace}pv      { padding-top:      $base-spacing-unit !important; padding-bottom:  $base-spacing-unit !important; }

      /**
       * Add tiny paddings.
       */

      .#{$display-namespace}p--     { padding:           quarter($base-spacing-unit) !important; }
      .#{$display-namespace}pt--    { padding-top:       quarter($base-spacing-unit) !important; }
      .#{$display-namespace}pr--    { padding-right:     quarter($base-spacing-unit) !important; }
      .#{$display-namespace}pb--    { padding-bottom:    quarter($base-spacing-unit) !important; }
      .#{$display-namespace}pl--    { padding-left:      quarter($base-spacing-unit) !important; }
      .#{$display-namespace}ph--    { padding-right:     quarter($base-spacing-unit) !important; padding-left:      quarter($base-spacing-unit) !important; }
      .#{$display-namespace}pv--    { padding-top:       quarter($base-spacing-unit) !important; padding-bottom:    quarter($base-spacing-unit) !important; }

      /**
       * Add small paddings.
       */

      .#{$display-namespace}p-      { padding:           halve($base-spacing-unit) !important; }
      .#{$display-namespace}pt-     { padding-top:       halve($base-spacing-unit) !important; }
      .#{$display-namespace}pr-     { padding-right:     halve($base-spacing-unit) !important; }
      .#{$display-namespace}pb-     { padding-bottom:    halve($base-spacing-unit) !important; }
      .#{$display-namespace}pl-     { padding-left:      halve($base-spacing-unit) !important; }
      .#{$display-namespace}ph-     { padding-right:     halve($base-spacing-unit) !important; padding-left:    halve($base-spacing-unit) !important; }
      .#{$display-namespace}pv-     { padding-top:       halve($base-spacing-unit) !important; padding-bottom:  halve($base-spacing-unit) !important; }

      /**
       * Add large paddings.
       */

      .#{$display-namespace}p\+     { padding:           double($base-spacing-unit) !important; }
      .#{$display-namespace}pt\+    { padding-top:       double($base-spacing-unit) !important; }
      .#{$display-namespace}pr\+    { padding-right:     double($base-spacing-unit) !important; }
      .#{$display-namespace}pb\+    { padding-bottom:    double($base-spacing-unit) !important; }
      .#{$display-namespace}pl\+    { padding-left:      double($base-spacing-unit) !important; }
      .#{$display-namespace}ph\+    { padding-right:     double($base-spacing-unit) !important; padding-left:   double($base-spacing-unit) !important; }
      .#{$display-namespace}pv\+    { padding-top:       double($base-spacing-unit) !important; padding-bottom: double($base-spacing-unit) !important; }

      /**
       * Add huge paddings.
       */

      .#{$display-namespace}p\+\+   { padding:           quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}pt\+\+  { padding-top:       quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}pr\+\+  { padding-right:     quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}pb\+\+  { padding-bottom:    quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}pl\+\+  { padding-left:      quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}ph\+\+  { padding-right:     quadruple($base-spacing-unit) !important; padding-left:    quadruple($base-spacing-unit) !important; }
      .#{$display-namespace}pv\+\+  { padding-top:       quadruple($base-spacing-unit) !important; padding-bottom:  quadruple($base-spacing-unit) !important; }

      /**
       * Remove paddings.
       */

      .#{$display-namespace}p0      { padding:          0 !important; }
      .#{$display-namespace}pt0     { padding-top:      0 !important; }
      .#{$display-namespace}pr0     { padding-right:    0 !important; }
      .#{$display-namespace}pb0     { padding-bottom:   0 !important; }
      .#{$display-namespace}pl0     { padding-left:     0 !important; }
      .#{$display-namespace}ph0     { padding-right:    0 !important; padding-left:     0 !important; }
      .#{$display-namespace}pv0     { padding-top:      0 !important; padding-bottom:   0 !important; }

  }
}
