@mixin progress-prototype {
	/*******************************
			Progress Bar
	*******************************/

	.ui.progress {
		border: 1px solid palette(neutral, mid);
		height: 35px;
		background-color: palette(neutral, light);
		padding: 5px;
	}

	.ui.progress .bar {
		background-color: palette(neutral, mid);
		transition:
			width 1s ease-in-out,
			background-color 1s ease-out;
	}

	/*--------------
	Successful
	---------------*/

	.ui.successful.progress .bar {
		background-color: palette(info, success) !important;
	}

	.ui.warning.progress .bar {
		background-color: palette(info, warning) !important;
	}

	/*--------------
		Failed
	---------------*/

	.ui.failed.progress .bar {
	background-color: palette(info, error, 50) !important;
	}

	/*--------------
		Active
	---------------*/

	.ui.active.progress .bar::after {
		background: palette(neutral, light);
		animation: progress-active 2s ease-out infinite;
	}

	@keyframes progress-active {
		0% {
			opacity: 0;
			width: 0;
		}
		50% {
			opacity: 0.3;
		}
		100% {
			opacity: 0;
			width: 100%;
		}
	}

	/*--------------
		Disabled
	---------------*/

	.ui.disabled.progress {
		opacity: 0.35;
	}

	/*******************************
			Variations
	*******************************/


	/*--------------
		Attached
	---------------*/

	/* bottom attached */
	.ui.progress.attached,
	.ui.progress.attached .bar {
		height: 3px;
		padding: 0px;
	}

	/* top attached */
	.ui.progress.top.attached,
	.ui.progress.top.attached .bar {
		top: -2px;
	}

	/*--------------
		Striped
	---------------*/

	.ui.progress.striped .bar {
		background-size: 30px 30px;
		background-image:
			linear-gradient(
			135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
			transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
			transparent 75%, transparent
			);
	}

	.ui.progress.active.striped .bar {
		animation: progress-striped 3s linear infinite;
	}
	@keyframes progress-striped {
		0% {
			background-position: 0px 0;
		}
		100% {
			background-position: 60px 0;
		}
	}

	/*--------------
		Sizes
	---------------*/

	.ui.small.progress .bar {
		height: 14px;
	}
}
