{% include 'partials/head.twig' %}
{% block head %}
{% endblock %}
{% block head_extras %}
{% endblock %}
</head>
<body>
  <header class="header">
	{% include 'partials/navigation.twig' %}
	</header>
  <section class="main-content">
	{% block main %}
	{% endblock %}
	</section>
  <footer class="footer">
	{% include 'partials/footer.twig' %}
	</footer>
</div>
<script>
(function(f,i,r,e,s,h,l){i['GoogleAnalyticsObject']=s;f[s]=f[s]||function(){
(f[s].q=f[s].q||[]).push(arguments)},f[s].l=1*new Date();h=i.createElement(r),
l=i.getElementsByTagName(r)[0];h.async=1;h.src=e;l.parentNode.insertBefore(h,l)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-XXXXXXX-X');
ga('send', 'pageview');
</script>
</body>
</html>
