/*******************************
    Debug
*******************************/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `false` or `false`.
 */
$debug-mode:           false!default;

/*******************************
    Components
*******************************/

$defaultConfig: (
    --------------
     Elements
    --------------
    button: (
        include: false,
    ),
    card: (
        include: false,
    ),
    checkbox: (
        include: false,
    ),
    divider: (
        include: false,
    ),
    icons: (
        include: false,
    ),
    image: (
        include: false,
    ),
    input: (
        include: false,
    ),
    label: (
        include: false,
    ),
    loader: (
        include: false,
    ),
    media: (
        include: false,
    ),
    progress: (
        include: false,
    ),
    reveal: (
        include: false,
    ),
    segment: (
        include: false,
    ),
    step: (
        include: false,
    ),
    --------------
      Containers
    --------------
    dropdown: (
        include: false,
    ),
    form: (
        include: false,
    ),
    menu: (
        include: false,
    ),
    message: (
        include: false,
    ),
    modal: (
        include: false,
    ),
    nag: (
        include: false,
    ),
    popup: (
        include: false,
    ),
    search: (
        include: false,
    ),
    sidebar: (
        include: false,
    ),
    --------------
      Collections
    --------------
    accordion: (
        include: false,
    ),
    grid: (
        include: false,
    ),
    tab: (
        include: false,
    ),
    table: (
        include: false,
    ),
    -----------------
      Layout Helpers
    -----------------
    layout: (
        display: (
            include: false
        ),
        flexbox: (
            include: false
        )
    ),
    ----------------
      Media Query
    ----------------
    mediaquery: (
        palm: (
            include: false,
            widths: false,
            layout: false
        ),
        lap: (
            include: false,
            widths: false,
            layout: false
        ),
        lap-and-up: (
            include: false,
            widths: false,
            layout: false
        ),
        portable: (
            include: false,
            widths: false,
            layout: false
        ),
        desk: (
            include: false,
            widths: false,
            layout: false
        ),
        desk-wide: (
            include: false,
            widths: false,
            layout: false
        ),
        under-desk-wide: (
            include: false,
            widths: false,
            layout: false
        )
    )
);
