$globalConfig: (
	button: (
		include: true,
		theme: (
			prototype: true
		)
	),
	card: (
		include: false,
		theme: (
			prototype: true
		)
	),
	checkbox: (
		include: true,
		theme: (
			prototype: true
		)
	),
	divider: (
		include: false,
		theme: (
			prototype: true
		)
	),
	icons: (
		include: true,
		theme: (
			prototype: true
		)
	),
	image: (
		include: true,
		theme: (
			prototype: true
		)
	),
	input: (
		include: true,
		theme: (
			prototype: true
		)
	),
	label: (
		include: true,
		theme: (
			prototype: true
		)
	),
	loader: (
		include: false,
		theme: (
			prototype: true
		)
	),
	media: (
		include: true,
		theme: (
			prototype: true
		)
	),
	progress: (
		include: false,
		theme: (
			prototype: true
		)
	),
	reveal: (
		include: false,
		theme: (
			prototype: true
		)
	),
	segment: (
		include: true,
		theme: (
			prototype: true
		)
	),
	step: (
		include: false,
		theme: (
			prototype: true
		)
	),
	dropdown: (
		include: true,
		theme: (
			prototype: true
		)
	),
	example: (
		include: false,
		theme: (
			styleguide: true
		)
	),
	form: (
		include: true,
		theme: (
			prototype: true
		)
	),
	menu: (
		include: true,
		theme: (
			prototype: true
		)
	),
	message: (
		include: true,
		theme: (
			prototype: true
		)
	),
	modal: (
		include: true,
		theme: (
			prototype: true
		)
	),
	nag: (
		include: false,
		theme: (
			prototype: true
		)
	),
	popup: (
		include: true,
		theme: (
			prototype: true
		)
	),
	search: (
		include: false,
		theme: (
			prototype: true
		)
	),
	sidebar: (
		include: false,
		theme: (
			prototype: true
		)
	),
	accordion: (
		include: false,
		theme: (
			prototype: true
		)
	),
	grid: (
		include: true,
		theme: (
			prototype: true
		)
	),
	tab: (
		include: false,
		theme: (
			prototype: true
		)
	),
	table: (
		include: false,
		theme: (
			prototype: true
		)
	),
	layout: (
		display: (
			include: true,
			spacing: true
		),
		flexbox: (
			include: true
		)
	),
	mediaquery: (
		palm: (
			include: false,
			widths: false,
			layout: false
		),
		lap: (
			include: false,
			widths: false,
			layout: false
		),
		lap-and-up: (
			include: false,
			widths: false,
			layout: false
		),
		portable: (
			include: false,
			widths: false,
			layout: false
		),
		desk: (
			include: false,
			widths: false,
			layout: false
		),
		desk-wide: (
			include: false,
			widths: false,
			layout: false
		),
		under-desk-wide: (
			include: false,
			widths: false,
			layout: false
		)
	)
);