@mixin form-prototype {
	/*******************************
			Standard
	*******************************/

	/*--------------------
			Form
	---------------------*/

	/*--------------------
			Content
	---------------------*/

	.ui.form > p {
		margin: 1em 0;
	}

	/*--------------------
			Field
	---------------------*/

	.ui.form .field {
		margin: 0em 0em 1em;
	}

	/*--------------------
			Labels
	---------------------*/

	.ui.form .field > label {
		color: palette(neutral, dark);
		margin: 0em 0em 0.3em;
		font-size: 0.875em;
	}

	/*--------------------
		Standard Inputs
	---------------------*/

	.ui.form textarea,
	.ui.form input[type="text"],
	.ui.form input[type="email"],
	.ui.form input[type="date"],
	.ui.form input[type="password"],
	.ui.form input[type="number"],
	.ui.form input[type="url"],
	.ui.form input[type="tel"] {
		margin: 0em;
		padding: 0.85em 1.2em;
		font-size: 0.875em;
		background-color: palette(neutral, light);
		border: 1px solid palette(neutral, mid);
		color: palette(neutral, dark);
		transition:
			background-color 0.3s ease-out,
			box-shadow 0.2s ease,
			border-color 0.2s ease;
		box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
		-webkit-appearance: none;
		-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
		box-sizing: border-box;
	}

	.ui.textarea,
	.ui.form textarea {
		line-height: 1.33;
		min-height: 8em;
		height: 12em;
		max-height: 24em;
		resize: vertical;
	}


	/*--------------------
		Dividers
	---------------------*/

	.ui.form .divider {
		margin: 1em 0em;
	}

	/*--------------------
	Types of Messages
	---------------------*/

	/*--------------------
	Validation Prompt
	---------------------*/

	.ui.form .inline.field .prompt {
		margin-top: 0em;
		margin-left: 1em;
	}
	.ui.form .inline.field .prompt:before {
		margin-top: -0.3em;
	}

	/*******************************
				States
	*******************************/


	/*--------------------
			Focus
	---------------------*/

	.ui.form input[type="text"]:focus,
	.ui.form input[type="email"]:focus,
	.ui.form input[type="date"]:focus,
	.ui.form input[type="password"]:focus,
	.ui.form input[type="number"]:focus,
	.ui.form input[type="url"]:focus,
	.ui.form input[type="tel"]:focus,
	.ui.form textarea:focus{
		color: palette(neutral, dark);
		border-color: palette(neutral, mid);
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		-webkit-appearance: none;
		box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
	}

	/*--------------------
			Error
	---------------------*/

	/*--------------------
			Warning
	---------------------*/

	/* On Field(s) */
	.ui.form .fields.error .field label,
	.ui.form .field.error label,
	.ui.form .fields.error .field .input,
	.ui.form .field.error .input {
		color: palette(info, error);
	}

	.ui.form .fields.error .field .corner.label,
	.ui.form .field.error .corner.label {
		border-color: palette(info, error);
		color: palette(neutral, light);
	}

	.ui.form .fields.error .field textarea,
	.ui.form .fields.error .field input[type="text"],
	.ui.form .fields.error .field input[type="email"],
	.ui.form .fields.error .field input[type="date"],
	.ui.form .fields.error .field input[type="password"],
	.ui.form .fields.error .field input[type="number"],
	.ui.form .fields.error .field input[type="url"],
	.ui.form .fields.error .field input[type="tel"],
	.ui.form .field.error textarea,
	.ui.form .field.error input[type="text"],
	.ui.form .field.error input[type="email"],
	.ui.form .field.error input[type="date"],
	.ui.form .field.error input[type="password"],
	.ui.form .field.error input[type="number"],
	.ui.form .field.error input[type="url"],
	.ui.form .field.error input[type="tel"] {
		padding-left: 1.2em;
		background-color: palette(info, error, 5);
		border-color: palette(info, error, 20);
		border-left: none;
		color: palette(info, error);
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		box-shadow: 0.3em 0em 0em 0em palette(info, error) inset;
	}
	.ui.form .field.error textarea:focus,
	.ui.form .field.error input[type="text"]:focus,
	.ui.form .field.error input[type="email"]:focus,
	.ui.form .field.error input[type="date"]:focus,
	.ui.form .field.error input[type="password"]:focus,
	.ui.form .field.error input[type="number"]:focus,
	.ui.form .field.error input[type="url"]:focus,
	.ui.form .field.error input[type="tel"]:focus{
		border-color: palette(info, error);
		color: palette(info, error);
		-webkit-appearance: none;
		box-shadow: 0.3em 0em 0em 0em palette(info, error) inset;
	}

	/*--------------------
	Empty (Placeholder)
	---------------------*/

	/* browsers require these rules separate */
	.ui.form ::-webkit-input-placeholder {
		color: palette(neutral, mid);
	}
	.ui.form ::-moz-placeholder {
		color: palette(neutral, mid);
	}
	.ui.form :focus::-webkit-input-placeholder {
		color: palette(neutral, mid);
	}
	.ui.form :focus::-moz-placeholder {
		color: palette(neutral, mid);
	}

	/* Error Placeholder */
	.ui.form .error ::-webkit-input-placeholder {
		color: palette(info, error);
	}
	.ui.form .error ::-moz-placeholder {
		color: palette(info, error);
	}
	.ui.form .error :focus::-webkit-input-placeholder {
		color: palette(info, error);
	}
	.ui.form .error :focus::-moz-placeholder {
		color: palette(info, error);
	}

	/*--------------------
		Disabled
	---------------------*/

	.ui.form .field :disabled,
	.ui.form .field.disabled {
		opacity: 0.5;
	}
	.ui.form .field.disabled label {
		opacity: 0.5;
	}

	/*--------------------
		Loading State
	---------------------*/

	.ui.form.loading:after {
		background: palette(neutral, light) url(../assets/images/loader-large.gif) no-repeat 50% 50%;
	}

	/*******************************
			Variations
	*******************************/


	/*--------------------
		Fluid Width
	---------------------*/

	.ui.form.fluid {
		width: 100%;
	}

	/*--------------------------
	Input w/ attached Button
	---------------------------*/

	/*--------------------
		Date Input
	---------------------*/
	.ui.form .date.field > label:after {
		top: 2em;
		right: 0.5em;
		font-size: 1.2em;
		font-family: 'Icons';
		font-weight: normal;
		color: palette(neutral, mid);
	}


	/*--------------------
		Inverted Colors
	---------------------*/

	.ui.inverted.form label {
		color: palette(neutral, light);
	}
	.ui.inverted.form .field.error textarea,
	.ui.inverted.form .field.error input[type="text"],
	.ui.inverted.form .field.error input[type="email"],
	.ui.inverted.form .field.error input[type="date"],
	.ui.inverted.form .field.error input[type="password"],
	.ui.inverted.form .field.error input[type="number"],
	.ui.inverted.form .field.error input[type="url"],
	.ui.inverted.form .field.error input[type="tel"]{
		background-color: palette(info, error, 25);
	}

	.ui.inverted.form .ui.checkbox label {
		color: palette(neutral, light, 110);
	}
	.ui.inverted.form .ui.checkbox label:hover,
	.ui.inverted.form .ui.checkbox .box:hover {
		color: palette(neutral, light);
	}

	/*--------------------
		Field Groups
	---------------------*/
	/* Grouped Vertically */
	.ui.form .grouped.fields {
		margin: 0em 0em 1em;
	}
	.ui.form .grouped.fields .field {
		margin: 0.5em 0em;
		padding: 0em;
	}
	/*--------------------
			Fields
	---------------------*/

	.ui.form .fields > .field:first-child {
		border-left: none;
		box-shadow: none;
	}

	/*--------------------
		Inline Fields
	---------------------*/
	.ui.form .inline.fields .field {
		min-height: 1.3em;
		margin-right: 0.5em;
	}

	.ui.form .inline.fields .field > label,
	.ui.form .inline.fields .field > p,
	.ui.form .inline.fields .field > input,
	.ui.form .inline.field > label,
	.ui.form .inline.field > p,
	.ui.form .inline.field > input {
		font-size: 1em;
	}

	.ui.form .inline.fields .field > input,
	.ui.form .inline.field > input {
		font-size: 0.875em;
	}

	.ui.form .inline.fields .field > :first-child,
	.ui.form .inline.field > :first-child {
		margin: 0em 0.5em 0em 0em;
	}



	/*--------------------
			Sizes
	---------------------*/

	/* Standard */
	.ui.small.form {
	font-size: 0.875em;
	}
	.ui.small.form textarea,
	.ui.small.form input[type="text"],
	.ui.small.form input[type="email"],
	.ui.small.form input[type="date"],
	.ui.small.form input[type="password"],
	.ui.small.form input[type="number"],
	.ui.small.form input[type="url"],
	.ui.small.form input[type="tel"],
	.ui.small.form label{
	font-size: 1em;
	}

	/* Large */
	.ui.large.form {
	font-size: 1.125em;
	}
}
