<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>GoodPress</title>
<meta name="description" content="{{site.description}}" />

<link rel="stylesheet" type="text/css" href="{{theme.path}}/assets/stylesheets/style.css">
{# <link rel="stylesheet" type="text/css" href="{{theme.path}}/assets/stylesheets/tidy.min.css"> #}

{{function('wp_head')}}
<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
