@mixin segment-prototype {
	/*******************************
				Segment
	*******************************/

	.ui.segment {
		background-color: palette(neutral, light);
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
		margin: 1em 0em;
		padding: 1em;
	}

	.ui.vertical.segment {
		background-color: transparent;
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	}

	.ui.horizontal.segment {
		background-color: transparent;
		box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
	}

	/*-------------------
		Loose Coupling
	--------------------*/

	.ui.pointing.menu + .ui.attached.segment {
		top: 1px;
	}

	.ui.page.grid.segment
	.ui.grid .ui.segment.column {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.ui.grid.segment,
	.ui.grid .ui.segment.row,
	.ui.grid .ui.segment.column {
		box-shadow: none;
		border: none;
	}

	/*******************************
				Types
	*******************************/

	/*-------------------
		Circular
	--------------------*/

	.ui.circular.segment {
		padding: 2em;
	}

	/*-------------------
		Raised
	--------------------*/

	.ui.raised.segment {
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	}

	/*******************************
				States
	*******************************/

	.ui.disabled.segment {
		opacity: 0.8;
		color: palette(neutral, mid);
	}

	/*******************************
			Variations
	*******************************/

	/*-------------------
		Inverted
	--------------------*/

	.ui.inverted.segment {
		border: none;
		box-shadow: none;
	}
	.ui.inverted.segment .segment {
		color: palette(neutral, dark);
	}
	.ui.inverted.segment .inverted.segment {
		color: palette(neutral, light);
	}
	.ui.inverted.segment,
	.ui.primary.inverted.segment {
		background-color: palette(neutral, dark);
		color: palette(neutral, light);
	}

	/*-------------------
		Ordinality
	--------------------*/

	.ui.primary.segment {
		background-color: palette(neutral, light, 120);
		color: palette(neutral, mid, 120);
	}

	.ui.secondary.segment {
		background-color: palette(neutral, light, 110);
		color: palette(neutral, mid, 110);
	}

	.ui.tertiary.segment {
		background-color: palette(neutral, light);
		color: palette(neutral, mid);
	}

	.ui.secondary.inverted.segment {
		background-color: palette(neutral, mid);
		color: palette(neutral, light);
	}
	.ui.tertiary.inverted.segment {
		background-color: palette(neutral, mid, 110);
		color: palette(neutral, light, 110);
	}

	/*-------------------
		Attached
	--------------------*/

	.ui.segment.attached {
		top: -1px;
		bottom: -1px;
		box-shadow: 0px 0px 0px 1px palette(neutral, mid);
	}

	.ui.top.attached.segment {
		top: 0px;
		bottom: -1px;
		margin-top: 1em;
		margin-bottom: 0em;
	}

	.ui.segment.bottom.attached {
		top: -1px;
		bottom: 0px;
		margin-top: 0em;
		margin-bottom: 1em;
	}
}
