/*----------------------
        Divided
-----------------------*/
@mixin grid-prototype {

  .ui.divided.grid > .column:not(.row),
  .ui.divided.grid > .row > .column {
    box-shadow:
      -1px 0px 0px 0px rgba(0, 0, 0, 0.1),
      -2px 0px 0px 0px rgba(255, 255, 255, 0.8)
    ;
  }

  .ui.divided.grid > .column:first-child,
  .ui.divided.grid > .row > .column:first-child {
    box-shadow: none;
  }

  /* Vertically Divided */
  .ui.vertically.divided.grid > .row {
    box-shadow:
      0px -1px 0px 0px rgba(0, 0, 0, 0.1),
      0px -2px 0px 0px rgba(255, 255, 255, 0.8) !important
    ;
  }
  .ui.vertically.divided.grid > .row > .column,
  .ui.vertically.divided.grid > .column:not(.row),
  .ui.vertically.divided.grid > .row:first-child {
    box-shadow: none !important;
  }

  /*----------------------
           Celled
  -----------------------*/

  .ui.celled.grid {
    box-shadow: 0px 0px 0px 1px palette(neutral, mid);
  }
  .ui.celled.grid > .row,
  .ui.celled.grid > .column.row,
  .ui.celled.grid > .column.row:first-child {
    box-shadow: 0px -1px 0px 0px palette(neutral, mid);
  }
  .ui.celled.grid > .column:not(.row),
  .ui.celled.grid > .row > .column {
    box-shadow: -1px 0px 0px 0px palette(neutral, mid);
  }
  .ui.celled.grid > .column:first-child,
  .ui.celled.grid > .row > .column:first-child {
    box-shadow: none;
  }

  .ui.celled.page.grid {
    box-shadow: none;
  }

  /*-------------------
        Stackable
  --------------------*/

  @media only screen and (max-width : 767px) {
    .ui.stackable.grid > .row > .column,
    .ui.stackable.grid > .column {
      box-shadow: none !important;
    }
    .ui.stackable.divided.grid .column,
    .ui.stackable.celled.grid .column {
      border-top: 1px dotted rgba(0, 0, 0, 0.1);
    }
    .ui.stackable.divided.grid > .row:first-child > .column:first-child,
    .ui.stackable.celled.grid > .row:first-child > .column:first-child,
    .ui.stackable.divided.grid > .column:first-child,
    .ui.stackable.celled.grid > .column:first-child {
      border-top: none !important;
    }
  }

}
