@mixin card-prototype {
	/*--------------
		Cards
	---------------*/

	.ui.cards {
		margin: 1em 0em 0em;
	}
	.ui.cards:first-child {
		margin-top: 0em;
	}
	.ui.cards:last-child {
		margin-bottom: -1em;
	}

	/*--------------
		Card
	---------------*/

	.ui.card {
		top: 0px;
		width: 316px;
		min-height: 375px;
		margin: 0em 0.5em 2.5em;
		padding: 0em;
		background-color: palette(neutral, light);
		line-height: 1.2;
		font-size: 1em;
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
		border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
		transition: box-shadow 0.2s ease;
	}

	/*--------------
		Images
	---------------*/

	.ui.card > .image {
		background-color: palette(neutral, mid);
	}

	/*--------------
		Content
	---------------*/
	.ui.card > .content {
		padding: 0.75em 0.5em;
	}
	.ui.card > .content > .name {
		font-size: 1.25em;
		font-weight: bold;
		margin-bottom: 0.2em;
		color: palette(neutral, dark);
	}
	.ui.card > .content > .description {
		color: palette(neutral, dark);
	}
	.ui.card > .content > .description p {
		margin: 0em 0em 0.2em;
	}

	/*--------------
		Meta
	---------------*/

	.ui.card .meta {
		float: right;
		color: palette(neutral, dark);
	}
	.ui.card > .content > .meta + .name {
		float: left;
	}

	/*--------------
		Labels
	---------------*/

	/*-----star----- */

	/* hover */
	.ui.card .star.label:hover::after {
		border-right-color: palette(info, warning, 5);
	}
	.ui.card .star.label:hover::after {
		border-top-color: palette(info, warning, 5);
	}
	.ui.card .star.label:hover .icon {
		color: palette(info, warning)
	}

	/* active */
	.ui.card .star.label.active::after {
		border-right-color: palette(info, warning, 5);
	}
	.ui.card .star.label.active::after {
		border-top-color: palette(info, warning, 5);
	}
	.ui.card .star.label.active .icon {
		color: palette(info, warning)
	}

	/*-----like----- */

	/* hover */
	.ui.card .like.label:hover::after {
		border-right-color: palette(info, error, 5);
	}
	.ui.card .like.label.active::after {
		border-top-color: palette(info, error, 5);
	}
	.ui.card .like.label:hover .icon {
		color: palette(info, error)
	}
	/* active */
	.ui.card .like.label.active::after {
		border-right-color: palette(info, error, 5);
	}
	.ui.card .like.label.active::after {
		border-top-color: palette(info, error, 5);
	}
	.ui.card .like.label.active .icon {
		color: palette(info, error);
	}

	/*--------------
		Extra
	---------------*/

	.ui.card .extra {
		padding: 0em 0.5em;
		bottom: -2em;
		left: 0em;
		height: 1.5em;
		color: palette(neutral, dark);
		transition: color 0.2s ease;
	}
	.ui.card .extra > img {
		border-radius: 500px 500px 500px 500px;
		margin-right: 0.25em;
		width: 2em;
	}

	/*******************************
			States
	*******************************/

	.ui.card:hover {
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
	}
	.ui.card:hover .extra {
		color: palette(neutral, dark);
	}

	/*******************************
			Variations
	*******************************/


	/*--------------
		Connected
	---------------*/

	.ui.connected.cards .card {
		height: auto;
		margin: 0em;
		width: 33.33%;
	}

	/* Borders */
	.ui.connected.cards > .card,
	.ui.connected.cards > .row:last-child > .card {
		border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
	}


	/* Hover */
	.ui.connected.cards .card:hover {
		border-bottom-width: 0.2em;
	}
}
