@mixin popup-prototype {
	/*******************************
				Popup
	*******************************/

	.ui.popup {
		border: 1px solid rgba(0, 0, 0, 0.1);
		max-width: 250px;
		background-color: palette(neutral, light);
		padding: 0.8em 1.2em;
		font-size: 0.875rem;
		font-weight: normal;
		font-style: normal;
		color: palette(neutral, dark);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	}

	.ui.popup .header {
		padding: 0em 0em 0.5em;
		font-size: 1.125em;
		line-height: 1.2;
		font-weight: bold;
	}

	.ui.popup:before {
		width: 0.75em;
		height: 0.75rem;
		background-image: none;
		background-color: palette(neutral, light);
		transform: rotate(45deg);
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	}

	/*******************************
				Types
	*******************************/

	/*--------------
		Spacing
	---------------*/

	.ui.popup {
		margin: 0em;
	}
	.ui.popup.bottom {
		margin: 0.75em 0em 0em;
	}
	.ui.popup.top {
		margin: 0em 0em 0.75em;
	}
	.ui.popup.left.center {
		margin: 0em 0.75em 0em 0em;
	}
	.ui.popup.right.center {
		margin: 0em 0em 0em 0.75em;
	}
	.ui.popup.center {
		margin-left: -1.25em;
	}

	/*--------------
		Pointer
	---------------*/

	/*--- Below ---*/
	.ui.bottom.center.popup:before {
		margin-left: -0.4em;
		top: -0.4em;
		box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
	}

	.ui.bottom.left.popup {
		margin-right: -2em;
	}
	.ui.bottom.left.popup:before {
		top: -0.4em;
		right: 1em;
		margin-left: 0em;
		box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
	}

	.ui.bottom.right.popup {
		margin-left: -2em;
	}
	.ui.bottom.right.popup:before {
		top: -0.4em;
		left: 1em;
		margin-left: 0em;
		box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
	}

	/*--- Above ---*/
	.ui.top.center.popup:before {
		bottom: -0.4em;
		margin-left: -0.4em;
	}
	.ui.top.left.popup {
		margin-right: -2em;
	}
	.ui.top.left.popup:before {
		bottom: -0.4em;
		right: 1em;
		margin-left: 0em;
	}
	.ui.top.right.popup {
		margin-left: -2em;
	}
	.ui.top.right.popup:before {
		bottom: -0.4em;
		left: 1em;
		margin-left: 0em;
	}

	/*--- Left Center ---*/
	.ui.left.center.popup:before {
		right: -0.35em;
		margin-top: -0.4em;
		box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
	}

	/*--- Right Center  ---*/
	.ui.right.center.popup:before {
		left: -0.35em;
		margin-top: -0.4em;
		box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
	}

	/*******************************
				Variations
	*******************************/

	/*--------------
		Size
	---------------*/

	.ui.small.popup {
		font-size: 0.75rem;
	}
	.ui.large.popup {
		font-size: 1rem;
	}

	/*--------------
		Colors
	---------------*/

	/* Inverted colors  */
	.ui.inverted.popup {
		background-color: palette(neutral, dark);
		border: none;
		color: palette(neutral, light);
		box-shadow: none;
	}
	.ui.inverted.popup .header {
		background-color: palette(neutral, dark, 125);
		color: palette(neutral, light);
	}
	.ui.inverted.popup:before {
		background-color: palette(neutral, dark);
		box-shadow: none;
	}
}
