@mixin image-prototype {
	/*******************************
				Image
	*******************************/

	.ui.image {
		background-color: palette(neutral, mid);
	}

	/*******************************
				States
	*******************************/

	/*--------------
		Disabled
	---------------*/
	.ui.disabled.image {
		opacity: 0.3;
	}

	/*******************************
			Variations
	*******************************/

	/*--------------
		Rounded
	---------------*/
	.ui.rounded.images .image,
	.ui.rounded.images img,
	.ui.rounded.image img,
	.ui.rounded.image {
		border-radius: 0.3125em;
	}
	/*--------------
		Circular
	---------------*/
	.ui.circular.images .image,
	.ui.circular.images img,
	.ui.circular.image img,
	.ui.circular.image {
		border-radius: 500rem;
	}

	/*--------------
		Avatar
	---------------*/

	.ui.avatar.images .image,
	.ui.avatar.images img,
	.ui.avatar.image img,
	.ui.avatar.image {
		margin-right: 0.5em;
		width: 2em;
		height: 2em;
		border-radius: 500rem;
	}

	/*-------------------
		Floated
	--------------------*/

	.ui.floated.image,
	.ui.floated.images {
		margin-right: 1em;
		margin-bottom: 1em;
	}
	.ui.right.floated.images,
	.ui.right.floated.image {
		margin-bottom: 1em;
		margin-left: 1em;
	}

	/*--------------
		Sizes
	---------------*/

	.ui.tiny.images .image,
	.ui.tiny.images img,
	.ui.tiny.image {
		width: 20px;
		font-size: 0.7rem;
	}
	.ui.mini.images .image,
	.ui.mini.images img,
	.ui.mini.image {
		width: 35px;
		font-size: 0.8rem;
	}
	.ui.small.images .image,
	.ui.small.images img,
	.ui.small.image {
		width: 80px;
		font-size: 0.9rem;
	}
	.ui.medium.images .image,
	.ui.medium.images img,
	.ui.medium.image {
		width: 300px;
		font-size: 1rem;
	}
	.ui.large.images .image,
	.ui.large.images img,
	.ui.large.image {
		width: 450px;
		font-size: 1.1rem;
	}
	.ui.huge.images .image,
	.ui.huge.images img,
	.ui.huge.image {
		width: 600px;
		font-size: 1.2rem;
	}

	/*******************************
				Groups
	*******************************/

	.ui.images {
		margin: 0em -0.25rem 0rem;
	}

	.ui.images .image,
	.ui.images img {
		margin: 0em 0.25em 0.5em;
	}
}
