@mixin form-src-states {
  /*******************************
              States
  *******************************/


  /*--------------------
          Focus
  ---------------------*/

  /*--------------------
          Error
  ---------------------*/

  /* On Form */
  .ui.form.warning .warning.message {
    display: block;
  }

  /*--------------------
          Warning
  ---------------------*/

  /* On Form */
  .ui.form.error .error.message {
    display: block;
  }

  /*--------------------
    Empty (Placeholder)
  ---------------------*/

  /*--------------------
         Disabled
  ---------------------*/

  .ui.form .field.disabled :disabled {
    opacity: 1;
  }


  /*--------------------
       Loading State
  ---------------------*/

  /* On Form */
  .ui.form.loading {
    position: relative;
  }
  .ui.form.loading:after {
    position: absolute;
    top: 0%;
    left: 0%;
    content: '';
    width: 100%;
    height: 100%;
    visibility: visible;
  }
}
